<div class="congdan">
  <div class="congdan-content container">
    <h2 class="font-weight-bold mb-4">Quản lý công dân</h2>
    <div class="form-inline mb-3">
      <label class="mr-2 mb-2 mb-sm-0">Tìm kiếm</label>
      <select name="searchOptions" class="form-control mr-2">
        <option [value]="timKiem.value" *ngFor="let timKiem of timKiems">
          {{ timKiem.name }}
        </option>
      </select>
      <input class="search form-control mr-2" type="text" placeholder="Nhập dữ liệu muốn tìm kiếm ...">
      <button class="btn btn-outline-primary mb-2 mb-sm-0">Tìm kiếm</button>
    </div>
    <div class="form-inline mb-4">
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Loại tài khoản</label>
        <select name="statusFilterOptions" class="form-control mr-2">
          <option [value]="loaiTaiKhoan.value" *ngFor="let loaiTaiKhoan of loaiTaiKhoans">
            {{ loaiTaiKhoan.name }}
          </option>
        </select>
      </div>
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Giới tính</label>
        <select name="statusFilterOptions" class="form-control mr-2">
          <option [value]="gioiTinh.value" *ngFor="let gioiTinh of gioiTinhs">
            {{ gioiTinh.name }}
          </option>
        </select>
      </div>
      <div class="ml-auto mb-2 taomoi-btn">
        <button routerLink="/dangkycutru" class="btn btn-success">Tạo mới</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table text-center table-hover" style="min-width:1120px;">
        <thead>
          <th>
            Mã số
          </th>
          <th>
            Họ tên
          </th>
          <th>
            Giới tính
          </th>
          <th>
            Sinh nhật
          </th>
          <th>
            Nơi sinh
          </th>
          <th>
            Quê quán
          </th>
          <th>
            Quốc tịch
          </th>
          <th>
            Thao tác
          </th>
          <th>
            Ảnh
          </th>
        </thead>

        <tr class="clickable-row" *ngFor="let congDan of congDans" [routerLink]="'/chitietcongdan/' + congDan.id">
          <td>
            {{ congDan.id }}
          </td>
          <td>
            {{ congDan.hoTen | loaiCuTru }}
          </td>
          <td>
            {{ congDan.gioiTinh | gioiTinh }}
          </td>
          <td>
            {{ congDan.sinhNhat | date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ congDan.noiSinh }}
          </td>
          <td>
            {{ congDan.queQuan }}
          </td>
          <td>
            {{ congDan.quocTich }}
          </td>
          <td>
            <a class="icon-link">
              <i class="fas fa-edit"></i>
            </a> |
            <a class="icon-link">
              <i class="fas fa-list"></i>
            </a> |
            <a class="icon-link">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
          <td>
            <img class="avatar" [src]="congDan.avatar">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>