<div class="body-content container">
  <h2>Đăng ký cư trú</h2>
  <form #f="ngForm" (ngSubmit)="onDangKyCuTruClicked(f.value)">
    <div class="row">
      <hr />
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="ngayTao" class="control-label">Ngày tạo</label>
          <input type="text" class="form-control" name="ngayTao" bsDatepicker [bsValue]="ngayTao" ngModel #ngayTao="ngModel">
        </div>

        <div class="form-group">
          <label for="ngayDangKy" class="control-label">Ngày đăng ký</label>
          <input type="text" class="form-control" name="ngayDangKy" bsDatepicker [bsValue]="ngayDangKy" ngModel
            #ngayDangKy="ngModel">
        </div>

        <div class="form-group">
          <label for="ngayHetHan" class="control-label">Ngày hết hạn</label>
          <input type="text" class="form-control" name="ngayHetHan" bsDatepicker [bsValue]="ngayHetHan" ngModel
            #ngayHetHan="ngModel">
        </div>

        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input class="form-control" type="text" id="email" name="email" ngModel #email="ngModel">
        </div>

        <div class="form-group">
          <label for="dienThoai" class="control-label">Điện thoại</label>
          <input class="form-control" type="text" id="dienThoai" name="dienThoai" ngModel #dienThoai="ngModel">
        </div>

        <div class="form-group">
          <label for="soNha" class="control-label">Số nhà</label>
          <input class="form-control" type="text" id="soNha" name="soNha" ngModel #soNha="ngModel">
        </div>

        <div class="form-group">
          <label for="duong" class="control-label">Đường</label>
          <input class="form-control" type="text" id="duong" name="duong" ngModel #duong="ngModel">
        </div>

      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="phuong" class="control-label">Phường</label>
          <input class="form-control" type="text" id="phuong" name="phuong" ngModel #phuong="ngModel">
        </div>

        <div class="form-group">
          <label for="quan" class="control-label">Quận</label>
          <input class="form-control" type="text" id="quan" name="quan" ngModel #quan="ngModel">
        </div>

        <div class="form-group">
          <label for="thanhPho" class="control-label">Thành phố</label>
          <input class="form-control" type="text" id="thanhPho" name="thanhPho" ngModel #thanhPho="ngModel">
        </div>

        <div class="form-group">
          <label for="loaiCuTru" class="control-label">Loại cư trú</label>
          <div class="">
            <div class="dropdown">
              <select (change)="onLoaiCuTruSelectChanged($event.target.value)" class="form-control" name="loaiCuTru">
                <option [value]="loaiCuTru.value" *ngFor="let loaiCuTru of loaiCuTrus">
                  {{ loaiCuTru.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="">
            <div id="CongDans" class="list-congdan list-group">
              <li class="list-group-item active" style="background: #000;">Danh sách công dân</li>
              <a *ngFor="let congDan of congDanList" class="list-group-item list-group-item-action">{{ congDan.hoTen }}</a>
            </div>
            <br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nhập mã công dân" aria-label="Recipient's username"
                aria-describedby="basic-addon2" #congDanId>
              <div class="input-group-append">
                <button (click)="onAddCongDanClicked(congDanId.value)" class="btn btn-outline-secondary" type="button">Thêm</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 ">
            <button class="btn btn-success">Tạo mới</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block">
      <a class="btn btn-primary">Trở về</a>
    </div>
  </form>
</div>