.dangkycutru-content {
  margin-top: 35px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.border {
  border: 1px solid;
  border-radius: 0.25rem;
  border-color: #02b875 !important;
}

.list-group-item {
  position: relative;
  display: block;
  max-width: 340px;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}
