/* You can add global styles to this file, and also import other style files */
a:focus,
.btn:focus {
  outline: none !important;
}

.body-content {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
