<div class="landing">
  <div class="landing-content">
    <div class="logo-box">
      <p class="logo-box__title mb-5">Quản Lý Cư Trú 0.4</p>
      <p class="logo-box__subtitle">Bạn là ai ?</p>
      <a class="btn btn-lg btn-outline-success mr-2">Cán bộ quản lý</a>
      <a class="btn btn-lg btn-outline-primary">Người đăng ký</a>
    </div>
    <div class="text-box">
      <h3 class="text-box__heading">Ủy ban nhân dân phường
        <br>HUTECH</h3>
      <div class="text-box__group">
        <p class="text-box__paragraph">
          <i class="fas fa-clock"></i> Giờ làm việc:</p>
        <p class="text-box__paragraph">Buổi sáng: 7h30 - 11h30</p>
        <p class="text-box__paragraph">Buổi chiều: 13h00 - 17h30</p>
      </div>
      <div class="text-box__group">
        <p class="text-box__paragraph">
          <i class="fas fa-phone"></i> Điện thoại:</p>
        <p class="text-box__paragraph">01223727680</p>
      </div>
      <div class="text-box__group">
        <p class="text-box__paragraph">
          <i class="fas fa-address-book"></i> Địa chỉ:</p>
        <p class="text-box__paragraph">475A Điện Biên Phủ</p>
      </div>
    </div>
  </div>
</div>

<!-- mobile media query -->
<div class="footer-mobile">
  <div class="text-box__group--mobile">
    <i class="fas fa-clock"></i>
    <div class="text-box__paragraph-box--mobile">
      <p class="text-box__paragraph--mobile">7h30 - 11h30</p>
      <p class="text-box__paragraph--mobile">13h00 - 17h30</p>
    </div>
  </div>
  <div class="text-box__group--mobile">
    <i class="fas fa-phone"></i>
    <div class="text-box__paragraph-box--mobile">
      <p class="text-box__paragraph--mobile">01223727680</p>
    </div>
  </div>
  <div class="text-box__group--mobile">
    <i class="fas fa-address-book"></i>
    <div class="text-box__paragraph-box--mobile">
      <p class="text-box__paragraph--mobile">475A Điện Biên Phủ</p>
    </div>
  </div>
</div>