<div class="cutru">
  <div class="cutru-content container">
    <h2 class="font-weight-bold mb-4">Quản lý cư trú</h2>
    <div class="form-inline mb-3">
      <label class="mr-2 mb-2 mb-sm-0">Tìm kiếm</label>
      <select name="searchOptions" class="form-control mr-2">
        <option [value]="timKiem.value" *ngFor="let timKiem of timKiems">
          {{ timKiem.name }}
        </option>
      </select>
      <input class="search form-control mr-2" type="text" placeholder="Nhập dữ liệu muốn tìm kiếm ...">
      <button class="btn btn-outline-primary mb-2 mb-sm-0">Tìm kiếm</button>
    </div>
    <div class="form-inline mb-4">
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Loại cư trú</label>
        <select name="searchOptions" class="form-control mr-2">
          <option [value]="loaiCuTru.value" *ngFor="let loaiCuTru of loaiCuTrus">
            {{ loaiCuTru.name }}
          </option>
        </select>
      </div>
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Thời hạn</label>
        <select name="statusFilterOptions" class="form-control mr-2">
          <option [value]="thoiHan.value" *ngFor="let thoiHan of thoiHans">
            {{ thoiHan.name }}
          </option>
        </select>
      </div>
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Trạng thái</label>
        <select name="statusFilterOptions" class="form-control mr-2">
          <option [value]="trangThai.value" *ngFor="let trangThai of trangThais">
            {{ trangThai.name }}
          </option>
        </select>
      </div>
      <div class="ml-auto mb-2 taomoi-btn">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table text-center table-hover" style="min-width:1120px;">
        <thead>
          <th>
            Id
          </th>
          <th>
            Loại Cư Trú
          </th>
          <th>
            Ngày Đăng Ký
          </th>
          <th>
            Ngày Hết Hạn
          </th>
          <th>
            Địa Chỉ
          </th>
          <th>
            Đã Duyệt
          </th>
          <th>
            Thao tác
          </th>
        </thead>

        <tr class="clickable-row" *ngFor="let cuTru of cuTrus">
          <td>
            {{ cuTru.id }}
          </td>
          <td>
            {{ cuTru.loaiCuTruId | loaiCuTru }}
          </td>
          <td>
            {{ cuTru.ngayDangKy | date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ cuTru.ngayHetHan | date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ cuTru.diaChi }}
          </td>
          <td>
            {{ cuTru.daDuyet | trangThai }}
          </td>
          <td>
            <a class="icon-link">
              <i class="fas fa-edit"></i>
            </a> |
            <a class="icon-link">
              <i class="fas fa-list"></i>
            </a> |
            <a class="icon-link">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>