<div class="cutru">
  <div class="cutru-content container">
    <h2 class="font-weight-bold mb-4">Quản lý cư trú</h2>
    <div class="form-inline mb-3">
      <label class="mr-2 mb-2 mb-sm-0">Tìm kiếm</label>
      <div class="dropdown mr-2" appDropdown>
        <button class="btn dropdown-toggle">
          Tất cả
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item">Action</button>
          <button class="dropdown-item">Another action</button>
          <button class="dropdown-item">Something else here</button>
        </div>
      </div>
      <input class="form-control mr-2" type="text" placeholder="Nhập dữ liệu muốn tìm kiếm">
      <button class="btn btn-outline-primary mb-2 mb-sm-0">Tìm kiếm</button>
    </div>
    <div class="form-inline mb-4">
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Loại cư trú</label>
        <div class="dropdown" appDropdown>
          <button class="btn dropdown-toggle">
            Tất cả
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item">Action</button>
            <button class="dropdown-item">Another action</button>
            <button class="dropdown-item">Something else here</button>
          </div>
        </div>
      </div>
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Thời hạn</label>
        <div class="dropdown" appDropdown>
          <button class="btn dropdown-toggle">
            Tất cả
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item">Action</button>
            <button class="dropdown-item">Another action</button>
            <button class="dropdown-item">Something else here</button>
          </div>
        </div>
      </div>
      <div class="filter-group d-block d-sm-flex mb-2 mr-2">
        <label class="mr-2 mb-2 mb-sm-0">Trạng thái</label>
        <div class="dropdown" appDropdown>
          <button class="btn dropdown-toggle">
            Tất cả
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item">Action</button>
            <button class="dropdown-item">Another action</button>
            <button class="dropdown-item">Something else here</button>
          </div>
        </div>
      </div>
      <div class="ml-auto mb-2 taomoi-btn">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table text-center table-hover" style="min-width:1120px;">
        <thead>
          <th>
            Id
          </th>
          <th>
            Ngày Đăng Ký
          </th>
          <th>
            Ngày Hết Hạn
          </th>
          <th>
            Địa Chỉ
          </th>
          <th>
            Đã Duyệt
          </th>
          <th>
            Thời Hạn
          </th>
          <th>Thao tác</th>
        </thead>

        <tr class="clickable-row">
          <td>
            Id
          </td>
          <td>
            Date
          </td>
          <td>
            Date
          </td>
          <td>
            Địa Chỉ
          </td>
          <td>
            Duyệt ?
          </td>
          <td>
            Thời Hạn
          </td>
          <td>
            <a class="icon-link">
              <i class="fas fa-edit"></i>
            </a> |
            <a class="icon-link">
              <i class="fas fa-list"></i>
            </a> |
            <a class="icon-link">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>