.cutru-content {
  margin-top: 35px;
}

.form-control {
  border: 1px solid black;
  border-radius: 0;
  width: 250px;

  &:focus {
    box-shadow: none;
    color: black;
  }
}

.dropdown-menu {
  top: 96%;
}

.dropdown > .btn.dropdown-toggle {
  cursor: auto;
}

.dropdown-menu > .dropdown-item {
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.btn.dropdown-toggle {
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  text-align: left;
  width: 100px;
  color: #495057;
}

.show > .dropdown-menu {
  display: block;
}

.clickable-row {
  cursor: pointer;
}
