<div class="header" *ngIf="isDisplayHeader">
  <div class="header-content">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-2 py-3">
      <a routerLink="/" class="navbar-brand text-white">RM</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Trang chủ</a>
          </li>
          <li class="nav-item dropdown" appDropdown routerLinkActive="active">
            <a class="nav-link dropdown-toggle">Cư trú</a>
            <div class="dropdown-menu">
              <a routerLink="/dangkycutru" class="dropdown-item">Đăng Ký Cư Trú</a>
              <a routerLink="/cutru" class="dropdown-item">Danh Sách Cư Trú</a>
            </div>
          </li>
          <li class="nav-item dropdown" appDropdown routerLinkActive="active">
            <a class="nav-link dropdown-toggle">Công dân</a>
            <div class="dropdown-menu">
              <a routerLink="/congdan" class="dropdown-item">Danh Sách Công Dân</a>
            </div>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">Liên hệ</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="btn btn-outline-primary">Đăng Nhập</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>