<div class="home">
  <div class="home-content">
    <main class="container py-2">
      <div class="alert alert-success">
        <strong>Thông báo!</strong> Tin tức từ chỉ huy.
      </div>
      <div class="navigation-view d-md-flex mb-4">
        <div class="side-navbar bg-light mb-4 mb-md-0 mr-md-4 pt-3 pb-1 pb-sm-0 pd-md-0 d-block d-sm-flex d-md-block justify-content-center">
          <!-- Admin only section -->
          <ul class="list-unstyled mb-3">
            <li class="text-muted text-uppercase px-3">
              <i class="fas fa-wrench"></i>&nbsp;Quản trị viên</li>
            <li>
              <a class="d-block text-success text-capitalize px-3">Phân quyền</a>
            </li>
            <li>
              <a class="d-block text-success text-capitalize px-3">Quyền hạn</a>
            </li>
          </ul>
          <!-- End of Admin section -->
          <ul class="list-unstyled mb-3 order-1 order-md-0">
            <li class="text-muted text-uppercase px-3">
              <i class="fas fa-signal"></i>&nbsp;Thống kê</li>
            <li>
              <a class="d-block text-success text-capitalize px-3">Tổng quan</a>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li class="text-muted text-uppercase px-3">
              <i class="fas fa-user"></i>&nbsp;Cán bộ quản lý</li>
            <li>
              <a class="d-block text-success text-capitalize px-3"></a>
            </li>
            <li>
              <a class="d-block text-success text-capitalize px-3"></a>
            </li>
            <li>
              <a class="d-block text-success text-capitalize px-3"></a>
            </li>
          </ul>
        </div>
        <div class="side-jumbo jumbotron text-center text-md-left mb-0 px-sm-5">
          <h1 class="font-weight-bold text-capitalize">Xin chào cán bộ</h1>
          <p class="text-center text-md-left">
            Hệ thống website quản lý thông tin cư trú tại địa phương
          </p>
          <a class="btn btn-success text-capitalize text-white mr-2 mb-2 mb-sm-0">Quản lý cư trú</a>
          <a class="btn btn-primary text-capitalize text-white mb-2 mb-sm-0">Quản lý dân</a>
        </div>
      </div>
      <div class="d-flex">
        <div class="anonymous-view">&nbsp;</div>
        <div class="data-view">
          <div class="statistic-view row">
            <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
              <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Tổng số</h5>
              <h3>
                <span class="badge badge-dark">12</span>
              </h3>
            </div>
            <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
              <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Đăng ký hôm nay</h5>
              <h3>
                <span class="badge badge-dark">2</span>
              </h3>
            </div>
            <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
              <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Chờ duyệt</h5>
              <h3>
                <span class="badge badge-dark">4</span>
              </h3>
            </div>
            <div class="category col-12 col-sm-6 col-md-3 d-flex align-items-center justify-content-center">
              <h5 class="text-capitalize font-weight-bold mb-0" style="flex: 0 0 70%;">Hết hạn</h5>
              <h3>
                <span class="badge badge-dark">5</span>
              </h3>
            </div>
          </div>
          <h3 class="text-capitalize font-weight-bold text-center mt-5 mb-0">
            Chờ duyệt
            <span class="h5 d-inline-block text-muted">Duyệt hoặc từ chối</span>
          </h3>

        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover mt-4 text-center" style="min-width: 940px;">
          <thead>
            <tr>
              <th class="border-bottom-0">Id</th>
              <th class="border-bottom-0">Tên</th>
              <th class="border-bottom-0">Địa chỉ</th>
              <th class="border-bottom-0">Điện thoại</th>
              <th class="border-bottom-0">Ngày đăng ký</th>
              <th class="border-bottom-0">Loại cư trú</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable-row">
              <th scope="row">@item.Id</th>
              <td>@item.Ten</td>
              <td>@item.DiaChi</td>
              <td>@item.DienThoai</td>
              <td>@item.NgayDangKy.ToShortDateString()</td>
              <td>@item.LoaiCuTru.Ten</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>